<ng-container *ngIf="!auth.hasFailed; else failed">
  <ng-container
    [ngTemplateOutlet]="auth.currentUserValue ? loggedIn : loginTemplate"
  >
  </ng-container>
</ng-container>
<ng-template #failed>
  <h1>Login or password is invalid</h1>
</ng-template>
<ng-template #loginTemplate>
  <h1>Enter login and password</h1>
  <form action="submit" class="form" [formGroup]="form">
    <div class="form-fields">
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="login"
          type="text"
          required
          placeholder="Login"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="password"
          type="text"
          required
          placeholder="Password"
        />
        <!-- Pipe just for demonstration purposes -->
      </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="login()">Login</button>
      <button mat-raised-button color="primary" routerLink="../sign-up">
        Sign Up
      </button>
    </div>
  </form>
</ng-template>
<ng-template #loggedIn>
  <h1>You are logged in.</h1>
</ng-template>
