<ng-container *ngIf="!auth.hasFailed; else failed">
  <h1>Enter necessary data to sign up</h1>
  <form action="submit" class="form" [formGroup]="form">
    <div class="form-fields">
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="login"
          type="text"
          required
          placeholder="Login"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="password"
          type="text"
          required
          placeholder="Password"
        />
      </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="register()">
        Sign Up
      </button>
      <button mat-raised-button color="primary" routerLink="../login">
        Login
      </button>
    </div>
  </form>
</ng-container>

<ng-template #failed>
  <h1>User with this name already exists</h1>
</ng-template>
