.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  list-style: none;

  display: flex;
  width: 100%;
  column-gap: 40px;
  align-items: space-around;
}
