:host {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 600px;
  gap: 10px;
}

.elements-choice {
  width: 200px;
}

.edit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div {
  display: flex;
  column-gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font-size: 24px;
  font-weight: 600;
}

.pagination * {
  list-style: none;
  color: black;
}

a {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  background: rgba(109, 51, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
