:host {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 600px;
  gap: 10px;
}

* {
}

.edit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div {
  display: flex;
  column-gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  font-size: 24px;
  font-weight: 600;
}

.pagination * {
  list-style: none;
  color: black;
}

a {
  cursor: pointer;
}
