<!-- <mat-select class="elements-choice" placeholder="Elements on page">
  <mat-option *ngFor="let page of pagesChoice" [value]="page">
    {{ page }}
  </mat-option>
</mat-select> -->
<ng-container *ngIf="users$ | async | paginate: 7 as pages">
  <ul class="pagination">
    Pages:
    <li *ngFor="let pageIndex of pages; index as i">
      <a (click)="navigateToPage(i)">
        {{ i + 1 }}
      </a>
    </li>
  </ul>
  <ng-container *ngFor="let page of pages; count as c; index as i">
    <ng-container *ngIf="currentPage === i">
      <mat-card *ngFor="let user of page" class="card">
        <mat-card-header>
          <img matCardAvatar [src]="user.avatar" />
          <mat-card-title>
            {{ user.firstName }} {{ user.lastName }}
          </mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img matCardImage [src]="user.avatar" /> -->
        <!-- <mat-card-content> content </mat-card-content> -->
        <mat-card-actions align="start">
          <button color="primary" mat-flat-button>Edit User Data</button>
          <button color="error" (click)="deleteUser(user)" mat-flat-button>
            Remove User
          </button>
        </mat-card-actions>
        <mat-card-footer> User ID: {{ user.id }} </mat-card-footer>
      </mat-card>
    </ng-container>
  </ng-container>
</ng-container>
