:host {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 600px;
  gap: 10px;
}

.edit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div {
  display: flex;
  column-gap: 20px;
}
